---
layout: default
title: Committee
permalink: /committee.html
---

<div style="background-color: rgba(32, 101, 198, 0.75); color: rgb(233, 233, 233);" class="text-box">
    <div class="container first-paragraph">
      <h1 class="display-3">Committe</h1>
      <div class="divider div-transparent"></div>
      <p>Meet who makes SER possible.</p>
    </div>
  </div>

<div style="color: #777; background-color:white;" class = "text-box">
    <div class="container align-middle">
      <div id="committee" class="row">
        {% for person in site.data.committee %}
        <div class="col d-flex justify-content-center">
          <div class="clearfix">
            <div>
              <div class="brief-avatar justify-content-center"><img src="{{ person.image }}" alt="{{ person.name }}"></div>
              <div class="brief-name" style="text-align: left;">{{ person.name }}</div>
              <div class="brief-job">{{ person.institution }}</div>
              {% for job in person.committee %}
              <div class="brief-description">{{ job }} Committee</div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="brief-item lslide" style="width: 400px; margin-right: 10px;"></div>
    </div>
  </div>