---
layout: home
title: Home
permalink: index.html
---

<div class="parallax" style="background-image: url('{{ site.url }}/assets/img/home/niteroi-02.jpg'); box-shadow: inset 0 0 0 1000px rgba(0,0,0,.30);">
      <div class="jumbotron text-light text-center jumbotron-fluid parallax-text-center">
        <h1 class="display-4">VI International Seminar on Statistics with R</h1>
        <p class="lead">May, 25-27, 2022</p>
        <hr class="my-4">
        <!-- <p>Revista do Seminário Internacional de Estatística com R. </p>-->
        <div class="container d-grid gap-2 d-md-block">
          <button class="btn btn-primary btn-lg" href="{{ site.url }}/register/event" role="button">Learn more</button>
          <button class="btn btn-primary btn-lg" href="https://periodicos.uff.br/anaisdoser/index" role="button">Journal of the International Statistics Seminar with R</button>
        </div>
      </div>
</div>

<div class="text-center text-box"style="color: #777;background-color:white;">
  <h2>Partners</h2>
  <div class="container align-middle">
    <div class="row align-items-center">
      {% for partner in site.data.partners %}
      <div class="col">
        <a href="{{ partner.href }}"><img src="{{ partner.image }}" alt="{{ partner.name }}"width="150px"></a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div style="background-color: rgba(32, 101, 198, 0.75); padding:50px 50px 0px 50px;text-align: justify;" >
  {% include homegallery.html %}
</div>

<div style="color: #777;background-color:white;" class="text-box">
  <h2 class="text-center" style="padding-bottom: 30px;">Testimonials</h3>
  <div class="container align-middle">
    <div id="light-slider" class="row">
      {% for depoiment in site.data.depoiments %}
      <div class="col d-flex justify-content-center">
        <div class="clearfix">
          <div>
            <div class="brief-avatar justify-content-center"><img src="{{ depoiment.image }}" alt="{{ depoiment.name }}"></div>
            <div class="brief-name">{{ depoiment.name }}</div>
            <div class="brief-job">{{ depoiment.job }}</div>
            <div class="brief-description">{{ depoiment.text }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="brief-item lslide" style="width:300px; margin-right: 10px;"></div>
  </div>
</div>