  <div class="container-sm">
    <div class="text-light text-center vertical-center parallax-text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis sit amet leo vel egestas. Proin vitae congue mauris. Aenean et mi id magna condimentum dignissim sit amet vel nibh. Donec vitae tempus nulla. Quisque purus mauris, blandit at justo at, eleifend rutrum urna. Curabitur in ex nisi. Ut felis urna, egestas in hendrerit ut, aliquam at arcu. Proin mollis tortor vulputate est lacinia, id interdum nibh rhoncus. Sed vel purus non ligula efficitur condimentum et non ex. Curabitur tempus volutpat faucibus. Curabitur in lacus nec risus dignissim luctus et quis enim. Suspendisse feugiat lacus vel lectus congue, sed bibendum erat cursus. Phasellus gravida egestas tellus ut tincidunt.
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-10">
        <div class="gallery-container" id="animated-thumbnails-gallery">
          <a data-lg-size="1600-1067" class="gallery-item" data-src="/assets/img/event/event_01.png" data-sub-html="DESCRICAO">
            <img alt="layers of blue." class="img-responsive" src="/assets/img/event/thumbnails/event_01.png" />
          </a>
          <a data-lg-size="1600-1067" class="gallery-item" data-src="/assets/img/event/event_02.png" data-sub-html="DESCRICAO">
            <img alt="layers of blue." class="img-responsive" src="/assets/img/event/thumbnails/event_02.png" />
          </a>
          <a data-lg-size="1600-1067" class="gallery-item" data-src="/assets/img/event/event_03.png" data-sub-html="DESCRICAO">
            <img alt="layers of blue." class="img-responsive" src="/assets/img/event/thumbnails/event_03.png" />
          </a>
        </div>
      </div>
    </div>
  </div>