<script type="text/javascript">
    $(document).ready(function() {
        $("#light-slider").lightSlider({
            item: 3,
            auto: true,
            autoWidth: false,
            loop: true,
            pager: false,
            pause: 3000,
            pauseOnHover: true,
            prevHtml: '<div class="arrow-left"></div>',
            nextHtml: '<div class="arrow-right"></div>',
            responsive: [
                {
                    breakpoint: 1366,
                    settings: {
                        item: 3,
                    }
                },
                {
                    breakpoint: 1100,
                    settings: {
                        item: 3,
                    }
                },
                {
                    breakpoint: 800,
                    settings: {
                        item: 1,
                    }
                },
            ]
        })

    });
  </script>