<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">
        SER
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          {% for navbar in site.data.navbar %}
            {% if navbar.subcategories != null %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ nav.url }}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ navbar.title }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% for subcategory in navbar.subcategories %}
                    <li><a class="dropdown-item" href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% elsif navbar.title == page.title %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ navbar.href }}">{{ navbar.title }}</a>
              </li>
            {% else %}              
              <li class="nav-item">
                <a class="nav-link" href="{{ navbar.href }}}">{{ navbar.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
