---
---
@import "bootstrap";

body, html {
    height: 100%;
}
  
.parallax {
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-text-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.caption {
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.social {
	position: fixed;
	
    right: 0;
    top: 19%;
    padding: 15px;
    font-size: 22px;
    background: transparent;
}

.social a {
	color: #F0F0F0;
	cursor: pointer;
}

.social a:hover {
	color: #7c7c7c;
	transition: 0.5s;
}

.social ul{
	list-style-type: none;
}

.brief {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 0px 50px 0px;
    width: 80%;
}

.brief-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 235px;
}

.brief-avatar {
    display: flex;
    margin-bottom: 20px;
}

.brief-avatar img {
    width: 235px;
    height: 235px;
    border-radius: 235px;
}

.brief-name {
    color: #00175b;
    font-weight: bold;
    width: 235px;
}

.brief-job {
    color: #ff583d;
    width: 235px;
}

.brief-description {
    font-size: 14px;
    margin: 10px 0px;
    width: 235;
}

.lSSlideOuter .lSGallery li, .lSSlideOuter .lightSlider>* {
    display: flex;
    margin: 0 0;
    height: 525px;
}

.lSPrev, .lSNext {
    background-image: none!important;
}

.arrow-left::before, .arrow-right::before {
    display: inline-block;
    position: relative;
    content: '';
    border-style: solid;
    border-width: 3px 3px 0 0;
    width: 30px;
    height: 30px;
    left: 0;
    top: -130px;
    transform: rotate(-135deg);
}

.arrow-right::before {
    transform: rotate(45deg);
}

.img-responsive {
    height: 300px;
    padding: 10px 10px;
}

.divider {
    margin: 1.9rem 0;
	position: relative;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0%;
	right: 25%;
	width: 50%;
	height: 2.25px;
	background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255), transparent);
}

.first-paragraph p {
	font-size: 20px;
}

.first-paragraph a {
	font-size: 20px;
    // text-decoration: none;
    // font-weight: 700;
    color: white;
}

.lead a {
    text-decoration: none;
    font-weight: 400;
}

#committee img {
    filter: grayscale(100%);
}

.text-box {
    padding:2em 2em 2em 1em;
    text-align: justify;
}

// Galery

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    // max-width: 33.3%;
    max-width: 20%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .column img:hover {
    filter: grayscale(0);
  }
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .column img {
      filter: grayscale(0) brightness(1);
    }
  }