---
---
@import "bootstrap";

body, html {
    height: 100%;
}
  
.parallax {
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-text-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.caption {
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.social {
	position: fixed;
	
    right: 0;
    top: 19%;
    padding: 15px;
    font-size: 22px;
    background: transparent;
}

.social a {
	color: #F0F0F0;
	cursor: pointer;
}

.social a:hover {
	color: #7c7c7c;
	transition: 0.5s;
}


.social ul{
	list-style-type: none;
}
