---
---
@import "bootstrap";

body, html {
    height: 100%;
}
  
.parallax {
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-text-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.caption {
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.social {
	position: fixed;
	
    right: 0;
    top: 19%;
    padding: 15px;
    font-size: 22px;
    background: transparent;
}

.social a {
	color: #F0F0F0;
	cursor: pointer;
}

.social a:hover {
	color: #7c7c7c;
	transition: 0.5s;
}

.social ul{
	list-style-type: none;
}

.brief {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 0px 50px 0px;
    width: 80%;
}

.brief-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 235px;
}

.brief-avatar {
    display: flex;
    margin-bottom: 20px;
}

.brief-avatar img {
    width: 235px;
    height: 235px;
    border-radius: 235px;
}

.brief-name {
    color: #00175b;
    font-weight: bold;
    width: 235px;
}

.brief-job {
    color: #ff583d;
    width: 235px;
}

.brief-description {
    font-size: 14px;
    margin: 10px 0px;
    width: 235;
}

.lSSlideOuter .lSGallery li, .lSSlideOuter .lightSlider>* {
    display: flex;
    margin: 0 0;
    height: 525px;
}

.lSPrev, .lSNext {
    background-image: none!important;
}

.arrow-left::before, .arrow-right::before {
    display: inline-block;
    position: relative;
    content: '';
    border-style: solid;
    border-width: 3px 3px 0 0;
    width: 30px;
    height: 30px;
    left: 0;
    top: -130px;
    transform: rotate(-135deg);
}

.arrow-right::before {
    transform: rotate(45deg);
}

.img-responsive {
    height: 300px;
    padding: 10px 30px 40px 50px;
}
