---
---
<!DOCTYPE html>
<html lang="pt_BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#131313"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ site.url }}/assets/favicon.ico">
    <link rel="stylesheet" href="{{ site.url }}/assets/stylesheets/style.css">
    <script src="{{ site.url }}/assets/javascripts/bootstrap.min.js"></script>
  </head>

  <body>
    {% include navbar.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>